@charset "UTF-8";

$button-default-background-gradient: 'matte-button';
$font-family: "proxima-nova", sans-serif;

$base-color: #167cce;
$accentColor: #517f15;
$gradient-blue: linear-gradient(#0d60a3, #074e89);

$dft-padding: 5;

@import 'compass';
@import 'ext4/default/all';

.x-window-body {
    background: #fff;
}

.x-panel-body {
  background: #EEE;
  border: none;
  font-weight: bold;
  font-size: 32px;
  padding: $dft-padding * 2px;
  @include text-shadow(2px 2px #999);
}

.x-panel-header {
  @include background-image($gradient-blue);
  padding: 10px;
}
.x-panel-header-text {
  font-size: 17px !important;
  color: #fff;
}

.x-message-box {
    .x-window-body {
        background: #eee;
    }
    .x-window-header-text {
        color: #fff;
        font-size: 15px;
        font-weight: bold;
    }
    .x-toolbar-docked-bottom {
        background: #eee;
        margin-top: 0;
    }
    .x-form-display-field {
        font-size: 14px;
        font-weight: bold;
    }

    .x-btn {
      @include background-image(linear-gradient(darken(#167cce, 10), darken(#0d60a3, 10)));
      @include border-radius(5px);
      padding: 3px 5px;

      .x-btn-inner {
        font-weight: bold;
        font-size: 13px;
        color: #fff !important;
        @include text-shadow(0px 1px #000);
      }

      &.x-btn-over {
        @include background-image(linear-gradient(lighten(#167cce, 10), lighten(#0d60a3, 10)));
      }

      &.x-btn-pressed {
        @include background-image(linear-gradient(darken(#034073, 5), darken(#095391, 5)));
      }

    }

}
